---
---
@charset "utf-8";
@import url(https://fonts.googleapis.com/css?family=Poppins:400,300,600|Work+Sans:400,300,600,700);

$gray-0: rgba(0, 0, 0, 0.05);

$h-font: 'Work Sans', sans-serif;
$base-font: 'Poppins', sans-serif;
$base-font-size: 17px;
$base-font-weight: 400;
$base-line-height: 1.8;
$base-fg: rgb(22, 22, 22);
$base-bg: rgb(255, 255, 255);

* { box-sizing: border-box; }

body {
    font-family: $base-font;
    font-size: $base-font-size;
    font-weight: $base-font-weight;
    line-height: $base-line-height;
    color: $base-fg;
    background-color: $base-bg;
    margin: 0;
}

.site-nav {
    position: relative;
    top: 0;
    display: block;
    width: 100vw;
    height: 40px;
    background-color: $gray-0;
    .menu-icon {
        & > svg {
            width: 20px;
            height: 20px;
        }
    }
}